<div class="container mt-5 d-flex flex-column align-items-center">
  <h2 class="text-center">Vote on Polls</h2>

  <div *ngIf="!polls.length" class="text-center">Loading polls...</div>

  <ul *ngIf="polls.length" class="list-group mb-4 w-75">
    <li *ngFor="let poll of polls" (click)="onPollSelect(poll)" class="list-group-item list-group-item-action text-center">
      {{ poll.question }}
    </li>
  </ul>

  <div *ngIf="selectedPoll" class="text-center w-75">
    <h3 class="mt-4">Vote for: {{ selectedPoll.question }}</h3>
    <form [formGroup]="voteForm" (ngSubmit)="onVote()" class="w-100">
      <div *ngFor="let option of selectedPoll.options" class="form-check d-flex justify-content-center align-items-center">
        <input
          type="radio"
          [value]="option.id"
          formControlName="selectedOption"
          class="form-check-input me-2"
          id="option-{{option.id}}">
        <label class="form-check-label" [for]="'option-' + option.id">{{ option.optionText }}</label>
      </div>

      <button type="submit" class="btn btn-primary mt-3">Submit Vote</button>
    </form>
  </div>
</div>
